:root {
    --first-bg-color: #55E0BB;
    --second-bg-color:  #4EC1ED;
}

::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-track{
    background: #c4c6c8;
}

::-webkit-scrollbar-thumb{
    background: #4EC1ED;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover{
    background: #55E0BB;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    max-height: 768px;
}

header {
    width: 100%;
    height: 7rem;
    background-color: var(--first-bg-color);

    display: grid;
    grid-template-columns: minmax(3rem, 6rem) minmax(auto, 100%) minmax(3rem, 6rem);
    grid-template-rows: minmax(7rem, auto);
}

.logoLink {
    grid-column: 2/3;
}

.logoImage {
    height: 100%;
    width: auto;
}

.actions {
    margin: auto 0;
    grid-column: 3/4;
}

.headerLink {
    color: #ffffff;
}

footer {
    width: 100%;
    height: 7rem;
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: minmax(1rem, 2rem) minmax(10rem, 20rem) auto;
}

.footerInfoBlock {
    position: relative;
    margin: auto 0;
    grid-column: 2/3;
}

.footerInfoText {
    color: #ffffff;
}

main {
    padding: max(2rem, 5%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.usersList {
    grid-row: 1/7;
    grid-column: 1/2;
}

.chat {
    border-radius: 5px;
    grid-row: 1/7;
    grid-column: 2/3;
}

.messages {
    grid-row: 1/7;
    grid-column: 2/3;
    height: 11rem;
    overflow-y: hidden;
    display: grid;
}

.messages:hover {
    overflow-y: auto;
}

.commonComeMessage{
    display: inline-block;
    margin-right: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--second-bg-color);
}

.commonSentMessage{
    display: inline-block;
    margin-left: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: var(--first-bg-color);
}

.input{
    margin-top: 1rem;
    border-radius: 5px;
    height: 4rem;   
    grid-row: 1/7;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.messageInput{
    border-radius: 5px;
    background-color: #4EC1ED;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 5fr;
} 

.messageInput input{
    border: 0;     
    background: #4EC1ED; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px; 
    text-align: left center;
    transition: 0.3s ease all;
} 

.messageInput input:focus{
    color: #000000;
    background: rgb(206, 206, 206);
    outline: none;
    font-size: 16px; 
} 

.inputText{
    text-align: center;
    grid-column: 1/2;
    margin: auto 0;
    word-break: break-all;
}

.sendButton {
    width: 4rem;
    height: 4rem;
    margin: auto auto;
    margin-left: 1rem;
    background: transparent;
    outline: none;
	border-top: 2rem solid transparent;
	border-left: 4rem solid rgba(37, 224, 174, 0.5);
    border-bottom: 2rem solid transparent;
    border-right: none;
    border-radius: 5px;
    transition: 0.3s ease all;
}

.sendButton:hover {
    border-left: 4rem solid rgba(37, 224, 174, 1);
    cursor: pointer;
    outline: none;
}

.sendButton:active, button:focus {
    outline: none;
}

.avatar {
    grid-row: 2/4;
    grid-column: 3/4;
}

.filters {
    grid-row: 5/7;
    grid-column: 3/4;
}