@import "./commonStyle.css";

.currentUser {
    color: #ffffff;
}

main {
    padding: max(2rem, 5%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.userList {
    grid-row: 1/4;
    grid-column: 1/2;

    max-height: 24rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat {
    border-radius: 5px;
    grid-row: 1/7;
    grid-column: 2/3;
    display: inline-block;
}

.messages {
    grid-row: 1/7;
    grid-column: 2/3;
    height: 50vh;
    overflow-y: scroll;
}

.comeMessage {
    margin-right: 50%;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--second-bg-color);
}

.sentMessage {
    margin-left: 50%;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--first-bg-color);
    position: relative;
}

.comeMessage input:disabled, .sentMessage input:disabled {
    word-wrap: break-all;
    color: #000000;
    border: 0;
    background: 0;
}

.input {
    margin-top: 1rem;
    border: 0;
    border-radius: 5px;
    height: 4rem;
    grid-row: 1/7;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.messageInput {
    border-radius: 5px;
    background-color: #4ec1ed;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.messageInput input {
    border: 0;
    background: #4ec1ed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    text-align: left center;
    transition: 0.3s ease all;
}

.messageInput input:focus {
    color: #000000;
    background: rgb(206, 206, 206);
    outline: none;
    font-size: 16px;
}

.inputText {
    text-align: center;
    grid-column: 1/2;
    margin: auto 0;
    word-break: break-all;
}

.sendButton {
    width: 4rem;
    height: 4rem;
    margin: auto auto;
    margin-left: 1rem;
    background: transparent;
    outline: none;
    border-top: 2rem solid transparent;
    border-left: 4rem solid rgba(37, 224, 174, 0.5);
    border-bottom: 2rem solid transparent;
    border-right: none;
    border-radius: 5px;
    transition: 0.3s ease all;
}

.sendButton:hover {
    border-left: 4rem solid rgba(37, 224, 174, 1);
    cursor: pointer;
    outline: none;
    transform: scale(1.2);
}

.sendButton:active,
button:focus {
    outline: none;
}

.filters {
    padding-top: 3em;
    grid-row: 1/5;
    grid-column: 3/4;
}

.filters div {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.user {
    font-size: 25px;
    margin-bottom: 0.5em;
}

.user img {
    width: 40px;
    display: inline;
}

.currentUser:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.avatar {
    margin: auto auto;
    grid-row: 0/1;
    grid-column: 3/4;
}

.avatar img {
    width: 100%;
}

.filters input {
    display: block;
    background-color: #cdfffd;
    border: none;
    font-size: 14px;
    width: 15em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border: solid 1px black;
    border-radius: 10px;
}

#date {
    width: 10em;
    display: inline;
}

.filters span {
    font-size: 20px;
    color: gray;
}

.loadMoreButton {
    width: 20em;
    margin: auto;
    margin-bottom: 1em;
    margin-left: 25%;
    border: solid 1px black;
    border-radius: 10px;
    padding: 0.2em;
    background-color: #cdfffd;
    cursor: pointer;
}

#myInput {
    background-color: #cdfffd;
}

.info1 {
    font-size: 10px;
    margin-bottom: 1rem;
}

.info2 {
    font-size: 10px;
    padding-left: 50%;
    margin-bottom: 1rem;
}

.user:hover {
    background-color: #cdd6ff;
    cursor: pointer;
}

.imgMes1 {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 7px;
    visibility: hidden;
    cursor: pointer;
}

.delete {
    position: absolute;
    right: 5px;
    top: 7px;
}

.edit {
    position: absolute;
    right: 40px;
    top: 7px;
}

.imgMes1:hover {
    transform: scale(1.2);
}

.sentMessage:hover .imgMes1 {
    visibility: visible;
}

.filters input[type="submit"][class="messageButton"] {
    display: block;
    width: 7rem;
    height: 2rem;
    background-color: var(--nonactive-button-color);
    margin: auto;
    cursor: pointer;
}

.filters input[type="submit"][class="messageButton"]:hover {
    background-color: var(--active-button-color);
}