@import "./commonStyle.css";

main {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 27vh;
}

input {
  border: 0;
  border-radius: 5px;
}

input:focus,
input:active {
  outline: none;
}

input[type="text"] {
  display: block;
  width: 20rem;
  height: 2rem;
  background-color: var(--input-bg-color);
  margin-bottom: 1rem;
  padding-left: 1rem;
}

input[type="password"] {
  display: block;
  width: 20rem;
  height: 2rem;
  background-color: var(--input-bg-color);
  margin-bottom: 1rem;
  padding-left: 1rem;
}

input[type="button"] {
  display: block;
  width: 10rem;
  height: 2rem;
  background-color: var(--nonactive-button-color);
  margin: auto;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: var(--active-button-color);
}
